<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${product.externalName}">Product</title>
    <link rel="stylesheet" href="../static/css/starter-template.css" th:href="@{/css/starter-template.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <style>
        .img-limited {
            max-width: 400px;
            max-height: 400px;
        }
    </style>

</head>
<body th:object="${product}">
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Eobaly web scrapper</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"/>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <form th:action="@{/logout}" method="post">
                <div class="nav-link">
                    <input type="submit" value="logout"/>
                </div>
            </form>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h5 th:text="*{internalName}">Internal name</h5>
                <a th:href="*{url}">Original product link</a>
                <a th:href="@{/}">Go back</a>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container">
                <div id="main-content">
                    <h1 th:text="*{externalName}">External name</h1>
                    <img class="img-responsive img-limited" th:src="'https://www.eobaly.cz/'+ *{imgUrl}"
                         src="https://www.eobaly.cz/pool/vzor/products/clim_thumb_xxl_103841_1.jpg"/>
                    <h3>Price chart</h3>
                    <div id="chart"></div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    const internalName = "[[${product.internalName}]]";
    const url = `http://${window.location.host}/product-price/${internalName}`;
    console.log(`loading from ${url}`);
    fetch(url,
        {
            method: 'GET',
            credentials: 'include'
        }
    ).then(
        response => response.json()
    ).then(
        response => {
            console.log(response);
            const trace = {
                x: response.details.map(it => it.timestamp),
                y: response.details.map(it => it.prize),
                type: 'scatter'
            };
            const data = [trace];
            Plotly.newPlot('chart', data);
            console.log('chard loaded...');

            const average = arr => arr.reduce((p, c) => p + c, 0) / arr.length;
            const averagePrice = average(response.details.map(it => it.prize));

            document.getElementById('main-content')
                .appendChild(document.createTextNode(
                    `The average price over all is ${averagePrice}`
                ));
        }
    );
</script>

</body>
</html>